<h1>{{date}}</h1>

<h1>{{temp ch}}</h1>

<!-- when u call this file, the data in this file will automatically display if u send the data which is present here to particular
page  -->


<p><a href="/">Home</a>
  <a href="about">About</a>
